<h1>Avaliações</h1>
 
<div class="row">
  <div class="animated flipInY col-lg-12 col-md-3 col-sm-6 col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Avaliação</th>
          <th scope="col">Respondida em</th>
          <th scope="col">Nota</th>
        </tr>
      </thead>
      <tbody>

        <% @tests.each do |test| %>
          <th scope="row"> <%= test.id  %></th>
          <td>
            <% if @current_user.test_ids.include?(test.id) && @grades.keys.include?(test.id) %>
                <%= link_to test.name, "/users_backoffice/tests/#{test.id}/show", class:"#{@grades[test.id] >= 7 ? 'btn btn-success' : 'btn btn-danger'}" %>
            <% else %>
              <%= link_to test.name, users_backoffice_path(test.id), class:'btn btn-primary' %>
            <% end %>
          </td>
          <td>
            <% if @times.keys.include?(test.id) %>
              <%= l @times[test.id] %>
            <% else %>
            <% end %>
          </td>
          <td>
            <% if @grades.keys.include?(test.id) %>
              <%= @grades[test.id].round() %>
              <% else %>
            <% end %>
      </td>
          
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>

<%console%>