<div>
  <h3> <%= @test.name %> </h3>
</div>

<% console %>
<% @test.questions.each_with_index do |question, index| %>
<div class="card w-75">
  <h5 class="card-header"> Questão <%= index + 1 %> </h5>
  <div class="card-body">
    <h5 class="card-title"> <%= question.description %> </h5>
    <hr>
    <ul style="list-style:none;">
      <% question.answers.each do |answer|%>
        <li> 
          <%= radio_button_tag "form_questions[#{question.id}][]", answer.id, (@test_answers), disabled: true %>
          <span class="<%= answer.correct? ? 'w-100 bg-green' : 'w-100 bg-red' %>">
            <%= answer.description %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>
<%= link_to 'Voltar para Avaliações', users_backoffice_tests_path, class:"btn btn-primary mt-5" %>




